

body {
    font-size: 16px;
    background-color: #f9f9f9;
    padding: 10px;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.weather-icon img {
    display: block;
    /* Show SVG in mobile */
    width: 40px;
    height: 40px;
}

/* Hide the emoji in mobile view */
.weather-icon::after {
    content: "";
}

header,
footer {
    text-align: center;
    padding: 15px;
}

main {
    padding: 10px;
}