:root {
    --primary-color: #910000;
    --text-color: #333;
    --bg-color: #f9f9f9;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bg-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 0;
}

footer {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
}

/* Weather Icon Styling */
.weather-icon img {
    width: 40px;
    height: 40px;
    display: none;
}

.weather-icon::after {
    content: " ⛅";
    /* Default emoji for wide screens */
    font-size: 24px;
}